body {
    font-family: 'Roboto Slab','Courier New', Courier, monospace;
    background: linear-gradient(to bottom right, rgb(74, 204, 255) 0%, rgb(181, 58, 192) 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
    margin:0;
    overflow-x:hidden;
}

#shutter {
    position:absolute;
    display:flex;
    justify-content:left;
    margin:2vw;
    margin-top:2vh;
    z-index:3;
    width:12vw;
}
h7 {
    font-family:Splash;
    font-size:10vw;
    color:rgb(231, 203, 46);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#topBar {
    background-color: rgba(36, 35, 35, 1);
    top:0;
    margin:0;
    width:100%;
    height:22vh;
    transition-duration: 0.4s;
    z-index:1;
    font-size:12vh;
    text-align: center;
    border-bottom:3px solid black;
}
#topBar:hover {
    transition-duration: 0.4s;
    background-color: rgb(36, 35, 35);
}

.navBar {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: rgb(104, 104, 104);
    transition-duration: 0.4s;
    position:relative;
    position:-webkit-sticky;
    top:0;
    width:100%;
    z-index:20;
    border-bottom:3px solid black;
}
.navOption { /*li*/
    display: block;
    color:white;
    text-align:center;
    padding:1% 2%;
    text-decoration:none;
    float:none;
}
.navOption:hover:not(.active) {
    background-color:#777777;
  } 
  .active {
    background-color:#777777;
  }
  .lang {
    color:black;
  }

#eventImg {
    position:relative;
    width:50%;
    border:3px solid black;
    border-radius:10px;
}
h2 {
    font-size:25px;
}
h4 {
    position:relative;
    font-size:30px;
}
#eventName {
    position:relative;
    font-size:25px;
    display:inline-block;
}
a:link {
    color:black;
    background-color:transparent;
    text-decoration:underline;
}
a:visited {
    color: black;
    background-color:transparent;
    text-decoration:underline;
}
a:hover {
    color:rgb(0, 0, 0);
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:rgb(0, 0, 0);
    background-color:transparent;
    text-decoration:underline;
}

.outline {
    border:5px dashed black;
    border-left:0;
    border-right:0;
    padding:1%;
    background-color:rgba(0,0,0,0.2);
    width:100%;
    opacity:0;
	transform:translate(0, 10vh);
	transition:all 1s;
}
.outline.visible {
	opacity: 1;
	transform: translate(0, 0);
}
.nofadeoutline {
    border:5px dashed black;
    border-left:0;
    border-right:0;
    padding:1%;
    background-color:rgba(0,0,0,0.2);
    width:100%;
    opacity:1;
    transform:translate(0,0);
}

.contactsContainer {
    justify-content:space-around;
    padding:2%;
}

.imgReel {
    position:relative;
    max-width:80%;
    height:auto;
    border:3px solid black;
    border-radius:5px;
}
button {
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    padding:20px;
    background-color:rgba(0,0,0,0);
    border-radius:4px;
    border:2px solid black;
}
#shuffleBtn {
    visibility: hidden;
}

/*--------------------*/
* {
    box-sizing: border-box;
}

#dropdownContent {
    display:none;
    position:absolute;
    width:100%;
    z-index:20;
    border-bottom:black 3px solid;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #757575;
    height: auto;
}
  
h3 {
    border-bottom:black 2px solid;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border:#00000000 2px solid;
}
  
.column a:hover {
    background-color: #8d8d8d;
    border:black 2px dashed;
    border-radius:10px;
}

.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}
