body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom right, rgb(74, 204, 255) 0%, rgb(181, 58, 192) 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
}

body, html {
    height: 100%;
  }
  
  .parallax {
    background-image: url('images/changables/feature.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:1%;
    padding:1%;
    border: 5px solid black;
    border-radius: 10px;
  }
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax_device*/

#shutter {
    position:fixed;
    display:flex;
    justify-content:left;
    margin:1.3vw;
    margin-top:2.5vh;
    z-index:3;
    width:16.5vh;
}

#name {
    /*position:absolute;
    top:2.5%;*/
    z-index:2;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:60vw;
    /*height:21vh;*/
}
#name img {
    height:100%;
    width: 100%;
}

.lang {
    position:absolute;
    display:flex;
    justify-content:right;
    margin-top:6vh;
    padding:3vh;
    z-index:2;
    border:1px dashed black;
    transition-duration: 0.5s;
    font-size:3.3vh;
    color:black;
    background-color: rgba(0,0,0,0);
}
.lang:hover {
    transition-duration: 0.5s;
    background-color: rgba(31, 31, 31, 0.3);
    font-size:3.3vh;
    color:rgb(255, 255, 255);
}


#topBar {
    background-color: rgba(36, 35, 35, 0.5); /*linear-gradient(to bottom right, rgb(74, 204, 255) 0%, rgb(235, 43, 253) 100%);*/
    position:absolute;
    margin-left:1%;
    width:95.3vw; /*!!!!!!!!!!!!!*/
    height:22vh;
    transition-duration: 0.4s;
    z-index:1;
    font-size:12vh;
    text-align: right;
    border:5px solid black;
    border-radius:10px;
}
#topBar:hover {
    transition-duration: 0.4s;
    background-color: rgb(36, 35, 35);
}

#eventImg {
    position:absolute;
    top:32vh;
    left:39vw;
    border:5px solid black;
    border-radius:10px;
    transition-duration: 0.3s;
    animation: fade 3s ease;

}
#eventImg:hover {
    transition-duration: 0.3s;
    box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.5);
}

.fade {
    animation: fade 5s ease;
}

@keyframes fade {
    0% {
        opacity:0;
	}
	50% {
        opacity:1;
	}
}

#photos {
    padding:3%;
}

h2 {
    font-size:30px;
}

h4 {
    position:relative;
    top:70vh;
    font-size:35px;
}

#eventName {
    position:relative;
    top:70vh;
    font-size:25px;
    display:inline-block;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}

.outline {
    border: 5px dashed black;
    border-radius: 15px;
    margin:1%;
    padding:1%;
    background-color: rgba(0,0,0,0.2);
    width:75%;
    animation: fade 2s ease;
    opacity: 0;
	transform: translate(0, 10vh);
	transition: all 1s;
}

.outline.visible {
	opacity: 1;
	transform: translate(0, 0);
}

.imgReel {
    position:absolute;
    left:7vw;
}

button {
    transition-duration: 0.5s;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    padding:20px;
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    border: 2px solid black;
}

button:hover {
    transition-duration: 0.5s;
    background-color: rgba(45,161,238,0.7);
    font-size:20px;
}

@keyframes flip {
    0% {
        left:20;
        z-index: 7;
    }
    50% {
        transform:rotate(4deg);
        left:55%;
        z-index: 7;
    }
    51% {
        z-index: 4;
    }
    80% {
        transform:rotate(4deg);
    }
    100% {
        left:20;
        z-index: 4;
    }
}