body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom right, rgb(74, 204, 255) 0%, rgb(235, 43, 253) 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/*#flash {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    margin:0;
    padding:0;
    background:linear-gradient(to bottom, rgb(74, 204, 255) 0%, rgb(210, 62, 255) 50%, rgb(255, 63, 239) 75%, rgb(255, 61, 181) 100%);
    z-index:-1;
}
#flash::before {
    content:'';
    width:100vw;
    height:100vh;
    position:fixed;
    background:linear-gradient(to top, rgb(201, 22, 255) 0%, rgb(119, 194, 255) 50%, rgb(126, 169, 235) 75%, rgb(61, 61, 255) 100%);
    opacity:0;
    animation:flash 3500ms ease-in-out 0s infinite alternate-reverse;
    z-index:-1;
}
@keyframes flash {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}*/


body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('images/changables/feature.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:1%;
    padding:1%;
    border: 5px solid black;
    border-radius: 10px;
  }
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax_device*/


#name {
    z-index:2;
    /*transition-duration: 0.5s;*/
    position:absolute;
    right:20%;
    top:2.5%;
    
}
/*#name:hover {
    transition-duration: 0.5s;
    top:1.5%;
}*/

#shutter {
    position:fixed;
    top:6vh;
    left:3.5vw;
    z-index:2;
}

#topBar {
    background-color: rgba(36, 35, 35, 0.5); /*linear-gradient(to bottom right, rgb(74, 204, 255) 0%, rgb(235, 43, 253) 100%);*/
    position:absolute;
    margin-top:0.5%;
    margin:1%;
    width:95.3vw;
    height:22vh;
    transition-duration: 0.4s;
    z-index:1;
    font-size:12vh;
    text-align: right;
    border:5px solid black;
    border-radius:10px;
}
#topBar:hover {
    transition-duration: 0.4s;
    background-color: rgb(36, 35, 35);
}

#eventImg {
    position:absolute;
    top:30vh;
    border:5px solid black;
    border-radius:10px;
    transition-duration: 0.3s;
    /*margin-left:auto;
    margin-right:auto;*/

}
#eventImg:hover {
    transition-duration: 0.3s;
    box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.5);
}

#photos {
    padding:3%;
}

h2 {
    font-size:30px;
}

h4 {
    position:relative;
    top:65vh;
    z-index:3;
    text-align:center;
    font-size:35px;
}

#eventName {
    position:relative;
    top:63vh;
    font-size:25px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}

.outline {
    border: 5px dashed black;
    border-radius: 15px;
    margin:1%;
    padding:1%;
}





.imgReel {
    position:absolute;
    left:20%;
    /*border: 4px solid black;
    border-radius: 6px;*/
}
button {
    transition-duration: 0.5s;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    padding:20px;
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    border: 2px solid black;
}

button:hover {
    transition-duration: 0.5s;
    background-color: rgba(45,161,238,0.7);
    font-size:20px;
}

@keyframes flip {
    0% {
        left:20;
        z-index: 7;
    }
    50% {
        transform:rotate(4deg);
        left:55%;
        z-index: 7;
    }
    51% {
        z-index: 2;
    }
    80% {
        transform:rotate(4deg);
    }
    100% {
        left:20;
        z-index: 2;
    }
}